
<!-- <app-form-controllercustom/> -->
 <!-- <app-bootstrap-styling></app-bootstrap-styling> -->
 <app-bridge-pattern-parent 
 [grid]="[
 {text: 'Bridge', cols: 3, rows: 1, template: first},
 {text: 'Design', cols: 1, rows: 2, template: second},
 {text: 'Pattern', cols: 1, rows: 1, template: three},
 {text: 'Grid', cols: 2, rows: 1, color: '#DDBDF1',template:four},
]"
  ></app-bridge-pattern-parent>

 <ng-template #first>
    <div class="firstOne">
        Hey I am from the First Div to be displayed NoWhere
     </div>
 </ng-template>
 <ng-template #second>
    <div class="firstOne">
        Hey I am from the First Div to be displayed NoWhere
     </div>
 </ng-template>
 <ng-template #three>
    <div class="firstOne">
        Hey I am from the First Div to be displayed NoWhere
     </div>
 </ng-template>
 <ng-template #four>
    <div class="firstOne">
        Hey I am from the First Div to be displayed NoWhere
     </div>
 </ng-template>
<router-outlet />
